.form-element{
    margin-left: 70px !important;
}

/* @media  screen and (max-width:700px) {
    nav.navbar-expand-lg {
        display: none !important;
    }

   

}

@media screen and (min-width:701px) {
    nav.nav-small{
        display:none !important;
    }
} */